/* Time is the most important resource (after your health) */

html, body {
  
  padding:6px;
}
/*
background-color: goldenrod;
min-height: 100%;
body {
  background: -webkit-gradient(radial, 40% 20%, 0, 40% 20%, 1000, 
    from(rgba(255, 255, 255, .1)), to(rgba(63, 110, 110, .7))), 
    -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(.259, transparent), 
    color-stop(.26, rgba(62, 144, 144, .2)), color-stop(.27, rgba(62, 144, 144, .2)), 
    color-stop(.271, transparent), color-stop(.759, transparent), color-stop(.76, 
    rgba(62, 144, 144, .2)), color-stop(.77, rgba(62, 144, 144, .2)), 
    color-stop(.771, transparent), to(transparent)), 
    -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(.149, transparent),
    color-stop(.15, rgba(200, 236, 245, .5)), color-stop(.25, rgba(200, 236, 245, .5)), color-stop(.251, transparent),
    color-stop(.649, transparent), color-stop(.65, rgba(200, 236, 245, .5)), color-stop(.75, rgba(200, 236, 245, .5)),
    color-stop(.751, transparent), to(transparent)) #9ad2d2;
  background-size: 100% 100%, 200px 200px, 300px 300px;

  background: -webkit-gradient(radial, 40% 10%, 0, 40% 10%, 1000, from(transparent), to(rgba(0, 0, 0, .7))), -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(.449, transparent), color-stop(.45, rgba(255, 255, 255, .6)), color-stop(.46, rgba(255, 255, 255, .6)), color-stop(.461, transparent), color-stop(.949, transparent), color-stop(.95, rgba(255, 255, 255, .6)), color-stop(.96, rgba(255, 255, 255, .6)), color-stop(.961, transparent), to(transparent)), -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(.149, transparent), color-stop(.15, rgba(0, 0, 0, .4)), color-stop(.25, rgba(0, 0, 0, .4)), color-stop(.251, transparent), color-stop(.649, transparent), color-stop(.65, rgba(0, 0, 0, .4)), color-stop(.75, rgba(0, 0, 0, .4)), color-stop(.751, transparent), to(transparent)) #3a3a3a;
  background-size: 100% 100%, 200px 200px, 200px 200px;
}
min-height: 100%;
*/
#wrapper {
  width: 300px;
  margin: auto;
}

#clock {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 50px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: -8px -12px 25px rgba(0, 0, 0, .4) inset, -1px -2px 28px rgba(0, 0, 0, .4) inset, 2px 4px 12px rgba(0, 0, 0, .1) inset, 7px 14px 40px rgba(255, 255, 255, .27) inset, 4px 6px 20px rgba(0, 0, 0, .06) inset, 20px 40px 30px rgba(0, 0, 0, .4), 4px 4px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: -8px -12px 25px rgba(0, 0, 0, .4) inset, -1px -2px 28px rgba(0, 0, 0, .4) inset, 2px 4px 12px rgba(0, 0, 0, .1) inset, 7px 14px 40px rgba(255, 255, 255, .27) inset, 4px 6px 20px rgba(0, 0, 0, .06) inset, 20px 40px 30px rgba(0, 0, 0, .4), 4px 4px 10px rgba(0, 0, 0, .2);
  box-shadow: -8px -12px 25px rgba(0, 0, 0, .4) inset, -1px -2px 28px rgba(0, 0, 0, .4) inset, 2px 4px 12px rgba(0, 0, 0, .1) inset, 7px 14px 40px rgba(255, 255, 255, .27) inset, 4px 6px 20px rgba(0, 0, 0, .06) inset, 20px 40px 30px rgba(0, 0, 0, .4), 4px 4px 10px rgba(0, 0, 0, .2);
}

#clock:before {
  content: '';
  position: absolute;
  z-index: 1000;
  display: block;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  -webkit-box-shadow: 10px 32px 10px rgba(0, 0, 0, .4) inset, 0 0 25px rgba(0, 0, 0, .3) inset, 1px 2px 0 rgba(255, 255, 255, .1), -1px -2px 0 rgba(0, 0, 0, .3), 1px -1px 0 rgba(0, 0, 0, .2), -1px 1px 0 rgba(255, 255, 255, .03);
  -moz-box-shadow: 10px 32px 10px rgba(0, 0, 0, .4) inset, 0 0 25px rgba(0, 0, 0, .3) inset, 1px 2px 0 rgba(255, 255, 255, .1), -1px -2px 0 rgba(0, 0, 0, .3), 1px -1px 0 rgba(0, 0, 0, .2), -1px 1px 0 rgba(255, 255, 255, .03);
  box-shadow: 10px 32px 10px rgba(0, 0, 0, .4) inset, 0 0 25px rgba(0, 0, 0, .3) inset, 1px 2px 0 rgba(255, 255, 255, .1), -1px -2px 0 rgba(0, 0, 0, .3), 1px -1px 0 rgba(0, 0, 0, .2), -1px 1px 0 rgba(255, 255, 255, .03);
}

#clock-face {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, left top, 60% bottom, from(rgba(255, 255, 255, .1)), to(transparent)) #111;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
}


#second-hand {
  /*position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 50%;
  width: 10px;
  height: 290px;
  margin-left: -5px;
  margin-bottom: -50px;
  background: #ff0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: 'HelveticaNeueBold';
  font-size: 10px;
  line-height: 0;
  color: #ff0;
  text-indent: -65px;
  -webkit-text-shadow: 0 0 20px rgba(0, 0, 0, .25);
  -moz-text-shadow: 0 0 20px rgba(0, 0, 0, .25);
  text-shadow: 0 0 20px rgba(0, 0, 0, .25);
  -webkit-transform-origin: center 240px;
  -moz-transform-origin: center 240px;
  transform-origin: center 240px;
  */
  position: absolute;
  z-index: 3;
  left: 47%;
  bottom: 48%;
  width: 10px;
  height: 125px;
  margin-left: 0;
  margin-bottom: 0;
  background: yellow;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: 'HelveticaNeueBold';
  font-size: 10px;
  line-height: 0;
  color: yellow;
  text-indent: -65px;
  -webkit-text-shadow: 0 0 20px rgba(0, 0, 0, .25);
  -moz-text-shadow: 0 0 20px rgba(0, 0, 0, .25);
  text-shadow: 0 0 20px rgba(0, 0, 0, .25);
  -webkit-transform-origin: center 123px;
  -moz-transform-origin: center 123px;
  transform-origin: center 123px;
  /* position: absolute;
   z-index: 3;
   left: 50%;
   bottom: 50%;
   width: 7px;
   height: 111px;
   margin-left: -13px;
   margin-bottom: -13px;
   background: #efefef;
   -webkit-border-radius: 36px;
   -moz-border-radius: 36px;
   border-radius: 36px;
   -webkit-transform-origin: center 100px;
   -moz-transform-origin: center 100px;
   transform-origin: center 100px;
   color: #ff0;
  */
}

#second-hand:before {
   content: '\25C9';
   position: absolute;
   z-index: 3;
   top: 125px;
   left: 50%;
   margin-left: -23px;
   margin-top: -23px;
   width: 40px;
   height: 40px;
   color: blueviolet;
   font-size: 11px;
   text-indent: 14px;
   line-height: 40px;
   -webkit-text-shadow: 0 0 1px rgba(255, 255, 255, .4);
   -moz-text-shadow: 0 0 1px rgba(255, 255, 255, .4);
   text-shadow: 0 0 1px rgba(255, 255, 255, .4);
   background: -webkit-gradient(radial, center center, 0, center center, 20, from(transparent), color-stop(.4, transparent), to(rgba(255, 255, 255, .1))) #222;
   border: 3px solid #ff0;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .9) inset;
   -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .9) inset;
   box-shadow: 0 0 2px rgba(0, 0, 0, .9) inset;*/
}

#minute-hand {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 50%;
  width: 16px;
  height: 111px;
  margin-left: -13px;
  margin-bottom: -13px;
  background: #efefef;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  -webkit-transform-origin: center 100px;
  -moz-transform-origin: center 100px;
  transform-origin: center 100px;
}


#minute-hand:after {
  /*content: '';
  position: absolute;
  z-index: 2;
  top: 279px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  color: #000;
  font-size: 11px;
  text-indent: 14px;
  line-height: 40px;
 
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
   background: #000;
  box-shadow: inherit;*/
}

#hour-hand {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 50%;
  width: 16px;
  height: 95px;
  margin-left: -13px;
  margin-bottom: -13px;
  background: #efefef;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  -webkit-transform-origin: center 84px;
  -moz-transform-origin: center 84px;
  transform-origin: center 84px;
}

#hours {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-family: 'HelveticaNeueBold';
  font-size: 54px;
  color: rgba(255, 255, 255, .9);
  -webkit-text-shadow: 0 0 2px #000, 0 0 2px #000;
  -moz-text-shadow: 0 0 2px #000, 0 0 2px #000;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

#hours li {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 20px;
  height: 124px;
  margin-left: -10px;
  text-align: center;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
  font-size: 25px;
  padding-left: 12px;
}

#hours span {
  display: block;
}

#hours li:nth-child(1) {
  -webkit-transform: rotate(30deg);
}

#hours li:nth-child(1) span {
  -webkit-transform: rotate(-30deg);
  text-indent: -4px;
}

#hours li:nth-child(2) {
  -webkit-transform: rotate(60deg);
}

#hours li:nth-child(2) span {
  -webkit-transform: rotate(-60deg);
  text-indent: -3px;
}

#hours li:nth-child(3) {
  -webkit-transform: rotate(90deg);
}

#hours li:nth-child(3) span {
  -webkit-transform: rotate(-90deg);
}

#hours li:nth-child(4) {
  -webkit-transform: rotate(120deg);
}

#hours li:nth-child(4) span {
  -webkit-transform: rotate(-120deg);
  text-indent: -2px;
}

#hours li:nth-child(5) {
  -webkit-transform: rotate(150deg);
}

#hours li:nth-child(5) span {
  -webkit-transform: rotate(-150deg);
  text-indent: -3px;
}

#hours li:nth-child(6) {
  -webkit-transform: rotate(180deg);
}

#hours li:nth-child(6) span {
  -webkit-transform: rotate(-180deg);
  text-indent: -5px;
}

#hours li:nth-child(7) {
  -webkit-transform: rotate(210deg);
}

#hours li:nth-child(7) span {
  -webkit-transform: rotate(-210deg);
  text-indent: -3px;
}

#hours li:nth-child(8) {
  -webkit-transform: rotate(240deg);
}

#hours li:nth-child(8) span {
  -webkit-transform: rotate(-240deg);
  text-indent: -6px;
}

#hours li:nth-child(9) {
  -webkit-transform: rotate(270deg);
}

#hours li:nth-child(9) span {
  -webkit-transform: rotate(-270deg);
  text-indent: -9px;
}

#hours li:nth-child(10) {
  -webkit-transform: rotate(300deg);
}

#hours li:nth-child(10) span {
  -webkit-transform: rotate(-300deg);
  text-indent: -14px;
}

#hours li:nth-child(11) {
  -webkit-transform: rotate(330deg);
}

#hours li:nth-child(11) span {
  -webkit-transform: rotate(-330deg);
  text-indent: -19px;
}

#hours li:nth-child(12) {
  -webkit-transform: rotate(360deg);
}

#hours li:nth-child(12) span {
  text-indent: -21px;
}


#minutes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-family: 'HelveticaNeueBold';
  font-size: 11px;
  color: rgba(255, 255, 255, .9);
  text-shadow: 0 0 2px #000;
}

#minutes li {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 6px;
  margin-left: -3px;
  height: 145px;
  font-size: 9px;
  text-indent: 3px;
  -webkit-transform-origin: center bottom;
}

#minutes li:nth-child(5n + 1) {
  font-size: 22px;
  text-indent: 1px;
}


#logo,
#by {
  float: left;
}

#by {
  margin-top: 18px;
  margin-left: 10px;
}

#nav,
#alert,
#full-render {
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #555;
}

#nav a,
#alert a {
  color: #777;
  text-decoration: none;
  -webkit-transition: color .25s linear;
}

#nav a:hover,
#alert a:hover {
  color: #009ddc;
}

#share {
  display: block;
  position: absolute;
  right: 0;
  top: 16px;
}


#full-render {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  z-index: 2000;
  width: 900px;
  margin-left: -490px;
  padding: 40px;
  background: #000;
}

#requirements {
  float: right;
  width: 270px;
}

#requirements h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}

#requirements-list li:first-child {
  border-top: 1px solid #191919;
}

#requirements-list li {
  line-height: 30px;
  border-bottom: 1px solid #191919;
}

#screenshot {
  position: relative;
  float: left;
}

#caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 11px;
  color: #888;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1999;
  width: 250px;
  height: 250px;
  background: rgba(0, 0, 0, .6);
}

.meets {
  display: none;
}

.doesnt-meet {
  display: none;
}

