@charset "UTF-8";
/*
 * Example of zRSSFeed Styling
 *
 * Version: 1.1.2
 * (c) Copyright 2010-2011, Zazar Ltd
 *


body {
  margin: 1em 3em;
  font-family: Tahoma, Genevam, sans-serif;
}
*/

.rssFeed {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;      
}
.rssFeed a {
  color: #444;
  text-decoration: none;
}
.rssFeed a:hover {
  color: #000;
  text-decoration: underline;
}

.rssHeader { 
  font-size: 120%;
  padding: 0.4em; 
  background: lightsteelblue;
  border: 1px solid #456F9A;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}

.rssBody { border: 1px solid #999; }
.rssBody ul { list-style: none; }

.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
  margin: 0;
  padding: 0;
  color: #00537C;
}

.rssRow h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}
.rssRow { padding: 0.8em; }

.rssRow div {
  font-size: 90%;
  color: #666;
  margin: 0.2em 0 0.4em 0;
}

.odd { background-color: #A8E811; }
.even { background-color: yellow; }

.rssRow .rssMedia {
  padding: 0.5em;
  font-size: 1em;
}
